@model IEnumerable<Portfolio_Website.Models.TimelineModel>

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div class="grid-container-general grid-container-d1">

    <div class="grid-item gbody">
        <div class="text-left">
            <p>
                My journey into software development began after earning a Bachelor of Science in Geology with a minor in Geography from the University of Regina. Recognizing the evolving landscape of technology, I returned to pursue a Bachelor of Science in Computer Science from the same institution.
            </p>
                <p>
                During my studies in computer science, I delved into various programming languages such as C++, PHP, JavaScript, and SQL databases, applying them to diverse projects. Despite facing the challenges posed by the onset of the COVID-19 pandemic and a lack of workplace experience, I sought further growth by enrolling in the Certificate in .NET Application Development program at the University of Calgary. There I gained skills with crafting interface and web-based applications leveraging C# and .NET technologies.
            </p>
                <p>
                Beyond academia, I've embraced a versatile of employment fields, spanning roles from packing carts at Costco to operating multi-deck riding lawnmowers for the Government of Saskatchewan. Presently, I serve as a Client Advisor Business Services at the Royal Bank of Canada, where I continue to refine my skills.
            </p>
                <p>
                In addition to my professional endeavors, I've also contributed to my community by spearheading an official local Pokémon League on behalf of the Pokémon Company International, demonstrating my commitment to fostering engaging experiences beyond the realm of technology.

            </p>
        </div>
    </div>
    <div class="grid-item gnav thefix">
                @foreach (var item in Model) 
                {
                    @if(item.Id % 2 != 0)
                    {
                        <div class="timeline">
                            <div class="tContainer left">
                                <div class="tContent">
                                    <h2>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </h2>
                                    <p class="Text-In-Box">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                       <div class="timeline">
                            <div class="tContainer right">
                                <div class="tContent">
                                    <h2>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </h2>
                                    <p class="Text-In-Box">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </p>
                                </div>
                            </div>
                        </div> 
                    }
                    
                }
            </div>
</div>