@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-container-general grid-container-d1">

    <div class="grid-item gbody sidediv">
        <div class="text-left">
            <h1 class="display-4">Jackie Lesko</h1>
        </div>
    </div>
    <div class="grid-item gnav slideshowsize">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fadein fadeout">
                <img src="img/project/PKX_Extraction.png" alt="img1">
            </div>

            <div class="mySlides fadein fadeout">
                <img src="img/project/PK_Injection.png" alt="img2">
            </div>

            <div class="mySlides fadein fadeout">
                <img src="img/project/Contact_Organizer.png" alt="img3">
            </div>
        </div>
    </div>
</div>